html, body {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

.header {
    padding: 20px  30px;
    background-color: #303F9F;
}

.main-nav {
    font-size: 1.5rem;
}



.search-div{
    margin: 20px auto;
    width: 40%;
}

.search-input{
    width: 70%;
    height: 20px;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    padding: 10px;
    outline: none;
}

.search-btn{
    padding: 10px;
    margin-left: 10px;
    background-color: #303F9F;
    color :white;
    border: 1px solid #BDBDBD;
    border-radius: 8px;
    cursor:pointer;
    outline: none;
}


.pet-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    
}

.statement{
    margin-right: 50px;
    margin-top: 50px;
    width: 300px;
    border: 1px solid #BDBDBD;
    padding: 0 5px;
}
.statement-title{
    text-align: center;
}
.statement-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor:pointer;
    border: 1px solid #BDBDBD;
}


.author-info{
    font-size: 0.8rem;
    color: grey;
}

.main-nav a {
    margin-right: 5px;
    color: #FFFFFF!important;
    text-decoration: none;
}